{% extends 'base.html.twig' %}
{% block title %}<title>Absinthe - Mentions Légales</title>{% endblock %}
{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block body %}

<h1 class="mt-4" style="text-align:center">Politique d'utilisation des cookies</h1>

<script id="CookieDeclaration" src="https://consent.cookiebot.com/2c8ea853-c754-40b8-b444-6fd7e569065e/cd.js" type="text/javascript" async></script>
{% endblock %}
