{% extends 'base.html.twig' %}

{% block body %}
<div class="container mt-4">
    <h1>Accueil</h1>
</div>
<div class="container jumbotron">
    <p>
        Bienvenue sur Absinthe, vous pourrez ici retrouver différents cours du cursus Ecole Centrale Lille
    </p>
</div>

<div class="container jumbotron">
    <h2>Mes Cours </h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum dolorem, nostrum ipsam aliquam, minus a sit
        similique commodi ut voluptate dolore porro eius quae reprehenderit nisi harum neque quas facere.</p>
    <h2>Mes Documents
    </h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum dolorem, nostrum ipsam aliquam, minus a sit
        similique commodi ut voluptate dolore porro eius quae reprehenderit nisi harum neque quas facere.</p>
</div>

{% endblock %}