{% extends 'base.html.twig' %}
{% block title %}<title>Absinthe - Accueil</title>{% endblock %}
{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1 class="text-center">Accueil</h1>
</div>
<div class="container">
    <p>
        Bienvenue sur Absinthe, vous pourrez ici retrouver différents cours et corrigés du cursus de l'Ecole Centrale
        Lille
    </p>

    <hr/>

    {% if app.user %}
    <div class="alert-homepage">
    <h2 class="title">Ajouter un cours : </h2>
        <p>Si vous ne trouvez pas un cours pour lequel vous souhaitez ajouter un document, veuillez <a href="{{path('course_create')}}" class="alert-homepage__link strong">Cliquer ici </a>
        </p>
    </div>
    {% else %}


    <div class="alert-homepage">
    <h2 class="title">Inscription </h2>
        <p> Pour vous <strong>connecter</strong> et pouvoir accéder aux cours : 
        <a href="{{path('app_login')}}" class="alert-homepage__link strong">
            Cliquer ici 
        </a>
        </p>
    </div>
    {% endif %}


</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
{% endblock %}