{% extends 'base.html.twig' %}
{% block title %}Absinthe - Accueil{% endblock %}
{% block body %}
<div class="container mt-4">
    <h1>Accueil</h1>
</div>
<div class="container">
    <p>
        Bienvenue sur Absinthe, vous pourrez ici retrouver différents cours du cursus Ecole Centrale Lille
    </p>
    {% if not app.user %}
        <div class="alert alert-info">
        Pour vous inscire et accéder aux cours : <a href="{{path('register')}}"> Cliquer ici </a>
    </div>
    {% endif %}
</div>

<div class="container   ">
    <h2>Mes Cours </h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum dolorem, nostrum ipsam aliquam, minus a sit
        similique commodi ut voluptate dolore porro eius quae reprehenderit nisi harum neque quas facere.</p>
    <h2>Mes Documents
    </h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum dolorem, nostrum ipsam aliquam, minus a sit
        similique commodi ut voluptate dolore porro eius quae reprehenderit nisi harum neque quas facere.</p>
</div>

{% endblock %}