{% extends 'base.html.twig' %}
{% block title %}<title>Absinthe - Accueil</title>{% endblock %}
{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Accueil</h1>
</div>
<div class="container">
    <p>
        Bienvenue sur Absinthe, vous pourrez ici retrouver différents cours et corrigés du cursus de l'Ecole Centrale
        Lille
    </p>

    <hr/>
    <h3>Ajouter un cours : </h3>
    <p>Si vous ne trouvez pas un cours, veuillez  <a href="{{path('course_create')}}" class="btn btn-sm btn-outline-secondary">l'ajouter ici : </a>
    {% if not app.user %}
    <div class="alert alert-sm alert-info">
        <h4 class="alert-heading"> Pour vous <strong>inscrire</strong> et accéder aux cours : <a href="{{path('register')}}" class="alert-link">
            Cliquer ici 
        </a>
        </h4>
    </div>
    {% endif %}


</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
{% endblock %}