{% extends 'base.html.twig' %}
{% block title %}Absinthe - Accueil{% endblock %}
{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Accueil</h1>
</div>
<div class="container">
    <p>
        Bienvenue sur Absinthe, vous pourrez ici retrouver différents cours et corrigés du cursus de l'Ecole Centrale
        Lille
    </p>
    {% if not app.user %}
    <div class="alert alert-info">
        <h4 class="alert-heading"> Pour vous <strong>inscire</strong> et accéder aux cours : <a href="{{path('register')}}" class="alert-link">
                Cliquer ici </a>
        </h4>
    </div>
    {% endif %}
</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
{% endblock %}