{% extends 'base.html.twig' %}
{% block title %}<title>Absinthe - Mentions Légales</title>{% endblock %}
{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>Mentions Légales</h1>
    </hr>
    <p>A remplir
    </p>
</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
{% endblock %}