$primary-color : #2f2f2f;
$bkgd-color: rgba(40, 53, 131, 0.05);
$blue-hell: rgb(97, 173, 199);
$blue-dark: rgb(61, 119, 138);
$blue-title: rgb(97, 173, 199);


$green-btn: rgb(44, 104, 104);
$green-hell: rgb(14, 150, 132);