@import "~bootstrap/scss/bootstrap";

$primary-color : #2f2f2f;
$bkgd-color: rgba(40, 53, 131, 0.05);
$blue-hell: rgb(97, 173, 199);
$blue-dark: rgb(61, 119, 138);

body {
    font-size: 100%;
    color: $primary-color;
    background-color: $bkgd-color;
    font-family: 'Sofia Pro';
    font-weight: normal;
    font-style: normal;
}

.courses-title {
    text-align: center;
    margin-top: 20px;
    color: $blue-dark;
}

.block-courses {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.card-courses {
    border: 1px solid rgb(223, 223, 223);
    margin: 10px;
    padding: 10px;
    transition: all .5s ease;
    width: 350px;
    height: 200px;
    position: relative;

    &:hover {
        box-shadow: 1px 1px 4px rgb(138, 138, 138);
        cursor: pointer;
    }

    &__title {
        display: flex;
        text-align: center;
        color: $blue-dark;
        font-size: 1.3em;
        padding-top: 5px;

        &::before,
        &::after {
            content: "";
            flex: 1 1;
            background: $blue-hell;
            height: 2px;
            align-self: center;
            margin:auto 0.5em;
        }
    }
}

.card-courses__btn {
    border: 3px $blue-hell solid;
    transition: all .3s ease;
    display: inline-block;
    position: absolute;
    bottom: 10px;

    &:hover {
        background-color: rgb(170, 194, 201);
    }
}

a, a:hover, a:focus {
    text-decoration: none;
    color: black;
}

.login__btn{
    padding: 5px 15px;
    border: 2px solid $blue-dark;
    background-color: #fff;
    border-radius: 24px;
    color: dimgray;
    opacity: .6;
    cursor: pointer;
    transition: all .4s ease-in-out;

    &:hover, &:focus{
        opacity: 1;
        padding: 5px 30px;
        color: white;
        background-color: $blue-dark;
        border-color: $blue-hell
    }

}
.nav-item{
    #nav__logout{
        color: rgb(192, 8, 8);
        font-style: italic;
        transition: color .2s ease;
        
        &:hover, &:focus{
            color: rgb(236, 51, 51);
        }
    }
}
