$blue-title: rgb(97, 173, 199);

.card-course {
    margin: 25px auto;
    padding: 15px 20px;
    max-width: 1000px;
    border: 1px solid rgb(223, 223, 223);
    box-shadow: 1px 1px 8px #555;
    transition: box-shadow 0.4s ease;

    @media screen and (max-width: 1050px) {
        & {
            margin: 25px 20px;
        }
      }

    &__legend{
        padding-left: 5px;
        min-height: 40px;
        transition: all .25s ease;
        display: flex;
        align-items: center;

        &:hover{
            border-left: 2px solid grey;
            transform: translateX(15px);
        }
    }

}

.card-course__header {
        margin: 5px 0 10px;
        display: flex;
        justify-content: space-around;

        &__title {
            text-align: center;
            color: $blue-title;
        }

        &__button {
            border: 2px solid $blue-title;
            margin: 5px 0;
            padding: 5px;
            font-style: 12px;
            transition: all .4s ease-in-out;

            &:hover {
                border: 2px solid rgb(50, 100, 146);
                background-color: rgb(178, 195, 231);
            }
        }
}
#course-like{
    cursor: pointer;
    font-size: 28px;
    color: rgb(207, 207, 77);
    opacity: .9;
}
