<mjml>
    <mj-body>
        <mj-section>
            <mj-column>

                <div class="container">
                    <h3>Récupération de votre mot de passe </h3>
                    <p>Voici vos <strong>nouveaux</strong> identifians pour vous connecter à la plateforme : </p>
                    <table>
                        <tr>
                            <td>Email :</td>
                            <td>{{user.email}}</td>
                        </tr>
                        <tr>
                            <td>Pseudo :</td>
                            <td>{{user.pseudo|default('non renseingé')}}</td>
                        </tr>
                        <tr>
                            <td>Mot de Passe :</td>
                            <td>{{ newPass }}</td>
                        </tr>
                    </table>
                    <div class="alert alert-warning">
                        <p>Veuillez modifier votre mot de passe pour plus de sécurité !</p>
                    </div>
                    <p>Bonne navigation sur Absinthe !</p>
                </div>
            </mj-column>
        </mj-section>
    </mj-body>
</mjml>