@import "../../../css/_variable.scss";

.small-card__title{
    text-align: center;
    color: $blue-dark;
}

.card-labels{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;

    &__flex{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}